{% extends "base.html" %}
{% load static %}

{% block morecss %}
<link href="{% static 'css/registercss.css' %}" rel="stylesheet">
{% endblock morecss %}

{% block body %}

<body>
{% if messages %} {% for message in messages %}
<span>{{message}}</span>
{% endfor %} {% endif %}
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Password Reset</h2>
    </div>
    <div class="row clearfix">
      <div class="">
		  <p>Your password has been reset. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.</p>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
